.window-background {
	height: 100vh;
	width: 100vw;
	background-image: url('/assets/images/windows-wallpaper.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.taskbar-position {
	position: absolute;
	bottom: 0;
	left: 0;
}
.start-menu {
	position: absolute;
	bottom: 60px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
}

img {
	user-select: none;
}

body {
	user-select: none; /* Standard property */
	-webkit-user-select: none; /* For webkit-based browsers */
	-moz-user-select: none; /* For Firefox */
	-ms-user-select: none; /* For Internet Explorer/Edge */
}

.non-selectable {
	user-select: none; /* Standard property */
	-webkit-user-select: none; /* For webkit-based browsers */
	-moz-user-select: none; /* For Firefox */
	-ms-user-select: none; /* For Internet Explorer/Edge */
}
